p{
    /* color: tomato; */
    /* color: rgb(152, 132, 33); */
    /* color: #80b7c3; */
    /* color: hsla(0, 76%, 48%,0.4); */
    /* background: linear-gradient(to bottom,red,blue,green,yellow,pink,orange,tomato); */
    /* background: linear-gradient(135deg,orange,white,green); */
   /* background:radial-gradient(black,white,black,white,black,white,black,white,black,white); */
   background-image: url('https://media.4-paws.org/d/2/5/f/d25ff020556e4b5eae747c55576f3b50886c0b90/cut%20cat%20serhio%2002-1813x1811-720x719.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   backdrop-filter:blur(20px);
    height: 100vh;
}
