p
{
    background-color: blue;
    color: white;
}
#chitti{
    background-color: darkorange;
}
.para{
    background-color: yellow;
    color: black;
}
.para2{
    color: brown;
}

body
{
 background-color: darkkhaki;
}